<div class="social-icons">
    <a href="https://www.facebook.com/dariuszdamianjakubowski" class="icon-facebook"></a>
    <a href="https://www.instagram.com/celber/" class="icon-instagram"></a>
    <a href="https://github.com/celber" class="icon-github"></a>
    {{!-- <a href="" class="icon-flickr"></a>
    <a href="" class="icon-twitter"></a> --}}
    <div style="width: 20px; display: inline-block"></div>
    <a href="/rss/" class="icon-rss"></a>
</div>