{{!< default}}

{{#contentFor "head"}}
    <link rel="stylesheet" href="{{ asset "styles/post.css"}}"/>
    <link rel="stylesheet" href="{{ asset "styles/cv.css"}}"/>
{{/contentFor}}


{{#contentFor "content"}}
    {{#post}}
            <div class="mb-80"></div>
            <article class="cv {{post_class}}">
                <div class="content">
                    {{content}}
                </div>
            </article>
            <div class="mb-80"></div>
    {{/post}}
{{/contentFor}}