{{!< default}}

{{#contentFor "head"}}
    <link rel="stylesheet" href="{{ asset "styles/post.css"}}"/>
{{/contentFor}}

{{#contentFor "navbar"}}
    {{navigation}}
    {{> social-icons}}
{{/contentFor}}

{{#contentFor "content"}}
    {{#post}}
            <div class="mb-80"></div>
            <article class="portfolio {{post_class}}">
            {{content}}

            </article>
            <div class="mb-80"></div>
    {{/post}}

    <script type="application/javascript">
        Macy({
            container: document.querySelector('.portfolio'),
            trueOrder: true,
            columns: 3,
            margin: 24,
        });
    </script>
{{/contentFor}}