
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-flickr:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-email:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */