@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap");
:root {
  --main-bg-color: #181818;
  --main-fg-color: #ece5e2;
  --gold: #dcac60;
  --secondary-bg-color: #131414;
  --secondary-fg-color: #676766;
  --main-width: 1160px;
  --secondary-width: 960px;
  --post-width: 760px; }

.light {
  --main-bg-color: #fdfdfd;
  --main-fg-color: #181818;
  --gold: #f2aa36;
  --secondary-bg-color: #f9f9f9;
  --secondary-fg-color: #929292; }

a {
  color: var(--gold); }

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

.float-right {
  float: right; }
  .float-right > * {
    display: inline-block; }

#menuicon {
  height: 48px;
  width: 48px; }

#menuicon path {
  stroke: white; }

.light #menuicon path {
  stroke: black; }

/* NAVBAR */
nav.topbar {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 10; }
  nav.topbar ul.nav, nav.topbar .social-icons {
    display: none; }
  nav.topbar #fullscreenmenu ul.nav, nav.topbar #fullscreenmenu .social-icons {
    display: inline-block !important; }

nav.topbar::after {
  transition: background-color .5s ease;
  background-color: none;
  position: absolute;
  content: " ";
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2; }

.nav-inner {
  margin: auto;
  position: relative;
  padding: 10px 40px;
  max-width: var(--main-width); }

@media (min-width: 768px) {
  #fullscreenmenu, #menuicon {
    display: none !important; }
  .topbar ul.nav, .topbar .social-icons {
    display: inline-block !important; } }

#fullscreenmenu {
  transition: background-color .5s ease;
  z-index: -1;
  display: none;
  position: absolute;
  background-color: #ffffff00;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 100px;
  text-align: center; }
  #fullscreenmenu li {
    display: block;
    padding: 15px 13px;
    border-radius: 22px;
    background: none;
    margin-right: 10px;
    transition: background-color .5s ease; }
  #fullscreenmenu hr {
    width: 70vw; }
  #fullscreenmenu .social-icons {
    margin-top: 40px; }

body.scrolled nav.topbar::after {
  background-color: var(--secondary-bg-color); }

body.menuopened {
  overflow: hidden; }
  body.menuopened #fullscreenmenu {
    display: block;
    background-color: var(--main-bg-color); }

.logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 4px;
  display: inline-block;
  height: 48px;
  width: 120px; }

.light .logo {
  background-image: url(../images/logo_dark.png); }

.social-icons a {
  height: 24px;
  width: 24px;
  text-decoration: none;
  margin-left: 5px;
  color: var(--gold); }

ul.nav {
  list-style: none; }
  ul.nav li {
    display: inline;
    padding: 6px 13px;
    border-radius: 22px;
    background: rgba(22, 22, 22, 0.7);
    margin-right: 10px;
    transition: background-color .5s ease; }
    ul.nav li a {
      text-decoration: none;
      font-size: 1.2em;
      font-weight: bold;
      background-color: none; }
  ul.nav li:hover {
    background: #161616; }

.topbar .social-icons {
  margin-top: 10px; }

footer {
  padding: 50px;
  color: var(--secondary-fg-color);
  background-color: var(--secondary-bg-color);
  /* position: sticky;  */
  bottom: 0;
  text-align: center; }
  @media (min-width: 992px) {
    footer {
      text-align: left;
      padding-top: 28px; }
      footer .copyright-col {
        float: left; } }
  footer .social-icons a {
    color: var(--secondary-fg-color); }
  footer .social-col {
    margin-top: 20px; }
    @media (min-width: 992px) {
      footer .social-col {
        float: right;
        margin-top: 0; } }

.mb-30 {
  margin-bottom: 30px; }

.mb-80 {
  margin-bottom: 80px; }
